
@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
        url('../HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    background-color: bisque;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 200px;
    background: rgba(244, 164, 96, 0.6);
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: rgba(244, 164, 96, 0.8);
}